 <html>
 <head>
  <title>Bookers</title>
</head>
<body>
  <div class="container">
  <div class="row" style="background-color:black;">
  <%= render "layouts/header" %>
  </div>
    <div class="row">
      <div class="col-md-2" style="background-color:orange;">
        <h2>サイドバー</h2>
      </div>
      <div class="col-md-10" style="background-color:green">
         <h1>Users</h1>
     <table class="table table-striped">
      <thead>
        <tr>
          <strong>
            <th>image</th>
            <th>name</th>
            <th></th>
          </strong>
         </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td>image</td>
            <td><%= user.name %></td>
            <td><%= link_to "Show", "/users/#{user.id}" %></td>
          </tr>
        <% end %>
      </tbody>
     </table>
   </div>
   </div>
 </div>
</body>
</html>