 <title>Bookers</title>
  <%= render "layouts/header" %>
	<div class="container">
	 	<h1>welcome to <span class="glyphicon glyphicon-book"><strong>
	 	Bookers</strong> !!</span></h1>
		<div crass ="row">In <span class="glyphicon glyphicon-book"><strong>Bookers,</strong></span></div>
		<div crass ="row">you can share and exchange your opinions , inpressions , and emotions</div>
		<div crass="row">about various books!</div>