  <title>Bookers</title>
  <%= render "layouts/header" %>
<div class="container">
 <h1>welcome to <span class="glyphicon glyphicon-book"><strong>
 Bookers</strong> !!</span></h1>
In Bookers,
you can share and exchange your opinions , inpressions , and emotions
about various books!
	<p>
        <%= link_to 'Login', '/users/sign_in' %>
    </p>
        <br>
        <%= link_to 'Sign Up', '/users/sign_up' %>
    </div>