 <html>
 <head>
  <title>Bookers</title>
</head>
<body>
  <div class="container">
  <div class="row" style="background-color:black;">
  <%= render "layouts/header" %>
  </div>
    <div class="row">
      <div class="col-md-2" style="background-color:orange;">
        <h2>サイドバー</h2>
      </div>
      <div class="col-md-10" style="background-color:green">
         <h1>Books</h1>
     <table class="table table-striped">
   		<thead>
   			<tr>
   				<strong>
            <th></th>
      			<th>Title</th>
      			<th>Opinion</th>
      		</strong>
  		   </tr>
  		</thead>
  		<tbody>
  			<% @books.each do |book| %>
    		  <tr>
            <td>
            <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img" %></td>
	      		<td><%= link_to book.title, "/books/#{book.id}" %></td>
	      		<td><%= book.opinion %></td>
	      	</tr>
	      <% end %>
	    </tbody>
	   </table>
   </div>
   </div>
 </div>
</body>
</html>