 <title>Bookers</title>
  <%= render "layouts/header" %>
	<div class="container">
	 	<h1>welcome to <span class="glyphicon glyphicon-book"><strong>
	 	Bookers</strong> !!</span></h1>
		<div crass ="row">In <span class="glyphicon glyphicon-book"><strong>Bookers,</strong></span></div>
		<div crass ="row">you can share and exchange your opinions , inpressions , and emotions</div>
		<div crass="row">about various books!</div>
		<div class="container" style = 'color:gray;'>
		<div crass="row">
			<%= link_to 'Login', '/users/sign_in',class:"btn btn-info active"%>
		</div>
		<div crass="row">
	        <%= link_to 'Sign Up', '/users/sign_up',class:"btn btn-success active"%>
	    </div>
	</div>
	</div>